# SQL Connecter Using SSH

* Author: Rahul Bordoloi 
* Email-ID : <rahul.bordoloi@highradius.com>, <rahulbordoloi24@gmail.com>                                                                            
* Language & Version - Python 3.8.4

Note : Connect your Colab Notebook with your Local Jupyter Environment using - <br>
```
jupyter notebook --NotebookApp.allow_origin='https://colab.research.google.com' --port=8888 --NotebookApp.port_retries=0
```

In [2]:
# Installing Modules
!pip install sshtunnel
!pip install pymysql

Collecting sshtunnel
  Downloading sshtunnel-0.1.5-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: paramiko>=1.15.2 in c:\programdatanaconda3\lib\site-packages (from sshtunnel) (2.7.1)
Requirement already satisfied: cryptography>=2.5 in c:\programdatanaconda3\lib\site-packages (from paramiko>=1.15.2->sshtunnel) (2.8)
Requirement already satisfied: pynacl>=1.0.1 in c:\programdatanaconda3\lib\site-packages (from paramiko>=1.15.2->sshtunnel) (1.3.0)
Requirement already satisfied: bcrypt>=3.1.3 in c:\programdatanaconda3\lib\site-packages (from paramiko>=1.15.2->sshtunnel) (3.1.7)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in c:\personal\hrc\hrc\lib\site-packages (from cryptography>=2.5->paramiko>=1.15.2->sshtunnel) (1.14.1)
Requirement already satisfied: six>=1.4.1 in c:\personal\hrc\hrc\lib\site-packages (from cryptography>=2.5->paramiko>=1.15.2->sshtunnel) (1.15.0)
Requirement already satisfied: pycparser in c:\personal\hrc\hrc\lib\site-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.5->paramiko>=1.15.2->sshtunnel) (2.20)
Installing collected packages: sshtunnel
Successfully installed sshtunnel-0.1.5
Collecting pymysql
  Downloading PyMySQL-0.10.1-py2.py3-none-any.whl (47 kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.10.1

In [2]:
# Importing Libraries
from sshtunnel import SSHTunnelForwarder
import pymysql as db
import pandas as pd
import numpy as np

In [ ]:
# Credentials [PuTTY] [SSH Tunneling]
host = 'add@host_IP'                     # IP Address of your Host
localhost = 'your@local_address'         # in the form of localhost / 127.0.0.1
ssh_username = 'your@ssh_username'
ssh_password = 'your@ssh_password'

In [ ]:
# Database User [SQL DB Credentials]
user = 'username@SQLDB'
password = 'password@SQLDB'
database = 'database_name'               # Name of the Database you'll be working on

In [ ]:
# Port Number Information
local_port_no = 22                       # Your System's Port Number        
host_port_no = 6005                      # SSH Agent's Port Number

In [ ]:
# Query Function to Connect DB Through SSH Tunneling
def query(q):
    
    """
    :param q: Query should be passed as Input.
    :return: It returns the Output of the Query
    """
    
    with SSHTunnelForwarder(
        (host, host_port_no),
        ssh_username = ssh_username,
        ssh_password = ssh_password,
        remote_bind_address = (localhost, remote_port_no)
    ) as server:
        print(server.local_bind_port)
        conn = db.connect(host = localhost,
                          port = server.local_bind_port,
                          user = user,
                          passwd = password,
                          db = database
                         )
        return pd.read_sql_query(q, conn)

In [ ]:
# SQL Query
sql_query = "SELECT * FROM invoice_information LIMIT 1;"

In [ ]:
# Extract Data
data = query(sql_query)

In [ ]:
# Printing out the DataFrame
print(data)

__Note__ : <br>
*   The Results are being ommited due to security and privacy purposes.

# End